v2.0.0/05_Implementation/epo-etl/src/main/resources/TED_publication_R2.0.9.S02.E01_003-20170123/common_prod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : common_prod
#  RELEASE : "R2.0.9.S02.E01"
#  Intermediate release number 003-20170123
#  Last update : 16/12/2016
####################################################################################
 -->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n2016="ted/2016/nuts" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.9.S02.E01">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xs:include schemaLocation="common_2014.xsd"/>
	<xs:import namespace="ted/2016/nuts" schemaLocation="nuts_codes_2016.xsd"/>
	<!--####################################################################################
TIME
#################################################################################### -->
	<xs:simpleType name="t_simple_date">
		<xs:annotation>
			<xs:documentation>Pattern for Dispatch and Receipt date (20yymmdd -- where 20yy = year, mm = month, dd = day)</xs:documentation>
			<xs:documentation>Currently used by DATE_DISP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(20)[0-9]{2}(1[0-2]|0[1-9])((3[0-1])|([1-2][0-9])|(0[1-9]))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_simple_datetime">
		<xs:annotation>
			<xs:documentation>Pattern for the Deadline for Specifications and for the Deadline for Applications/Offers (20yymmdd[ hh:mm] -- where 20yy = year, mm = month, dd = day, hh = hour, mm=minute)</xs:documentation>
			<xs:documentation>Currently used by DEADLINE_REC and DEADLINE_REQ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(20)[0-9]{2}(1[0-2]|0[1-9])((3[0-1])|([1-2][0-9])|(0[1-9]))( ((2[0-3])|([0-1][0-9])):[0-5][0-9])?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--####################################################################################
CODIFICATION
####################################################################################-->
	<xs:simpleType name="t_AA">
		<xs:annotation>
			<xs:documentation>Restriction for Awarding Autorithy. SECTOR / AA_AUTHORITY_TYPE / SECTION I.4</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_AC">
		<xs:annotation>
			<xs:documentation>Restriction for Awarding Criteria; AWARD_CRIT / AC_AWARD_CRIT / SECTION II.2.5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_DV">
		<xs:annotation>
			<xs:documentation>DIRECTIVE VALUE/LEGAL_BASIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2009/81/EC"/>
			<xs:enumeration value="1370/2007/EC"/>
			<xs:enumeration value="2014/23/EU"/>
			<xs:enumeration value="2014/24/EU"/>
			<xs:enumeration value="2014/25/EU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_MA">
		<xs:annotation>
			<xs:documentation>Restriction for Main Activities: MAIN_ACTIVITIES / MA_MAIN_ACTIVITIES / SECTION I.5 (I.6)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NC">
		<xs:annotation>
			<xs:documentation>Restriction for Nature of Contract: MARKET / NC_CONTRACT_NATURE / SECTION II.1.3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_PR">
		<xs:annotation>
			<xs:documentation>Restriction for Type of Procedure: PROC / PR_PROC / SECTION IV.1.1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RP">
		<xs:annotation>
			<xs:documentation>Restriction for Regulation of Procurement: MARKET_ORG / RP_REGULATION </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_TD">
		<xs:annotation>
			<xs:documentation>Restriction for Type of Document: NAT_NOTICE / TD_DOCUMENT_TYPE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="Y"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_TY">
		<xs:annotation>
			<xs:documentation>Restriction for Type of bid; TYPE_BID / TY_TYPE_BID / SECTION II.1.6</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_document_number">
		<xs:annotation>
			<xs:documentation>Pattern for the Document number (nnnnnn-yyyy - where yyyy = publication year and nnnnnn = document number, with leading zeros)</xs:documentation>
			<xs:documentation>Currently used by DOCUMENT_NUMBER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]{0,5}\-(19|20)[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--####################################################################################
OJS NUMBER
####################################################################################-->
	<xs:simpleType name="t_reception_id">
		<xs:annotation>
			<xs:documentation>Pattern for the Reception ID (nn-nnnnnn-nnn)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}-\d{6}-\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="no_oj">
		<xs:annotation>
			<xs:documentation>Pattern for OJ Number (integer - 0 to 999, leading zeros allowed)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="t_no_oj">
		<xs:simpleContent>
			<xs:extension base="no_oj">
				<xs:attribute name="CLASS" default="REGULAR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="REGULAR"/>
							<xs:enumeration value="ANNEX"/>
							<xs:enumeration value="ELECTRONIC"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="LAST">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="NO_DOC_OJS" type="noticeNo"/>
	<!--####################################################################################
TECHNICAL_SECTION
####################################################################################-->
	<xs:complexType name="t_technical_section">
		<xs:sequence>
			<xs:element name="RECEPTION_ID" type="t_reception_id"/>
			<xs:element name="DELETION_DATE" type="t_simple_date"/>
			<xs:element name="FORM_LG_LIST" type="string_not_empty"/>
			<xs:element name="COMMENTS" type="string_not_empty" minOccurs="0"/>
			<!--<xs:element name="OLD_HEADING" type="string_not_empty" minOccurs="0"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TECHNICAL_SECTION" type="t_technical_section"/>
	<!--####################################################################################
LINKS_SECTION
####################################################################################-->
	<xs:complexType name="all_links">
		<xs:attribute ref="xlink:type" use="required"/>
		<xs:attribute ref="xlink:href" use="required"/>
		<xs:attribute ref="xlink:title"/>
	</xs:complexType>
	<xs:complexType name="t_links_section">
		<xs:sequence>
			<xs:element name="XML_SCHEMA_DEFINITION_LINK" type="all_links" minOccurs="0"/>
			<xs:element name="OFFICIAL_FORMS_LINK" type="all_links" minOccurs="0"/>
			<xs:element name="FORMS_LABELS_LINK" type="all_links" minOccurs="0"/>
			<xs:element name="ORIGINAL_CPV_LINK" type="all_links" minOccurs="0"/>
			<xs:element name="ORIGINAL_NUTS_LINK" type="all_links" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LINKS_SECTION" type="t_links_section"/>
	<!--####################################################################################
CODED_DATA_SECTION
####################################################################################-->
	<xs:simpleType name="value_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ESTIMATED_TOTAL"/>
			<xs:enumeration value="PROCUREMENT_TOTAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="value">
		<xs:complexContent>
			<xs:extension base="val">
				<xs:attribute name="TYPE" type="value_type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="value_range">
		<xs:complexContent>
			<xs:extension base="val_range">
				<xs:attribute name="TYPE" type="value_type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VALUES">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="VALUE" type="value"/>
				<xs:element name="VALUE_RANGE" type="value_range"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="t_codif_data">
		<xs:sequence>
			<xs:element name="DS_DATE_DISPATCH" type="t_simple_date"/>
			<xs:element name="DD_DATE_REQUEST_DOCUMENT" type="t_simple_datetime" minOccurs="0"/>
			<xs:element name="DT_DATE_FOR_SUBMISSION" type="t_simple_datetime" minOccurs="0"/>
			<xs:element name="AA_AUTHORITY_TYPE">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_AA" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TD_DOCUMENT_TYPE">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_TD" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="NC_CONTRACT_NATURE">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_NC" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PR_PROC">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_PR" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RP_REGULATION">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_RP" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TY_TYPE_BID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_TY" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AC_AWARD_CRIT">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_AC" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MA_MAIN_ACTIVITIES" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_MA" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="HEADING" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIATOR" type="xs:string"/>
			<xs:element name="DIRECTIVE" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="VALUE" type="t_DV" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="VALUES" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_uri_doc">
		<xs:simpleContent>
			<xs:extension base="string_not_empty">
				<xs:attribute name="LG" type="t_ce_language_list"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="URI_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="URI_DOC" type="t_uri_doc" maxOccurs="24"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="uri_list.lg">
			<xs:selector xpath="*"/>
			<xs:field xpath="@LG"/>
		</xs:key>
	</xs:element>
	<xs:complexType name="t_notice_data">
		<xs:sequence>
			<xs:element ref="NO_DOC_OJS" minOccurs="0"/>
			<xs:element ref="URI_LIST" minOccurs="0"/>
			<xs:element name="LG_ORIG" type="string_not_empty" maxOccurs="24"/>
			<xs:element name="ISO_COUNTRY" type="country"/>
			<xs:element name="IA_URL_GENERAL" type="string_not_empty"/>
			<xs:element name="IA_URL_ETENDERING" type="string_not_empty" minOccurs="0"/>
			<xs:element name="ORIGINAL_CPV" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="string_not_empty">
							<xs:attribute name="CODE" type="t_cpv_code_list"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CURRENT_CPV" type="string_not_empty" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0">
				<xs:element ref="n2016:PERFORMANCE_NUTS" maxOccurs="unbounded"/>
				<xs:element ref="PERFORMANCE_NUTS" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="CURRENT_NUTS" type="string_not_empty" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element ref="n2016:CA_CE_NUTS" maxOccurs="unbounded"/>
				<xs:element ref="CA_CE_NUTS" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="n2016:TENDERER_NUTS" maxOccurs="unbounded"/>
				<xs:element ref="TENDERER_NUTS" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element ref="VALUES" minOccurs="0"/>
			<xs:element name="REF_NOTICE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="NO_DOC_OJS" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ref_ojs">
		<xs:sequence>
			<xs:element name="COLL_OJ">
				<xs:annotation>
					<xs:documentation>Restriction for the Type of Journal (x - one char - currently only one value allowed - S = supplement)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NO_OJ" type="t_no_oj"/>
			<!-- Publication date -->
			<xs:element name="DATE_PUB" type="t_simple_date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_coded_data_section">
		<xs:sequence>
			<xs:element name="REF_OJS" type="t_ref_ojs"/>
			<xs:element name="NOTICE_DATA" type="t_notice_data"/>
			<xs:element name="CODIF_DATA" type="t_codif_data"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CODED_DATA_SECTION" type="t_coded_data_section"/>
	<!--####################################################################################
TRANSLATION_SECTION
#################################################################################### -->
	<xs:complexType name="t_transliterated_addr">
		<xs:complexContent>
			<xs:extension base="contact_contracting_body"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="t_aa_name">
		<xs:simpleContent>
			<xs:extension base="string_not_empty">
				<xs:attribute name="LG" type="t_ce_language_list"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="t_ml_ti_doc">
		<xs:sequence>
			<xs:element name="TI_CY" type="string_not_empty"/>
			<xs:element name="TI_TOWN" type="string_not_empty"/>
			<xs:element name="TI_TEXT" type="text_ft_single_line"/>
		</xs:sequence>
		<xs:attribute name="LG" type="t_ce_language_list" use="required"/>
	</xs:complexType>
	<xs:complexType name="t_translation_section">
		<xs:sequence>
			<xs:element name="ML_TITLES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ML_TI_DOC" type="t_ml_ti_doc" minOccurs="0" maxOccurs="24"/>
					</xs:sequence>
				</xs:complexType>
				<xs:key name="ml_titles.lg">
					<xs:selector xpath="*"/>
					<xs:field xpath="@LG"/>
				</xs:key>
			</xs:element>
			<xs:element name="ML_AA_NAMES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AA_NAME" type="t_aa_name" maxOccurs="24"/>
					</xs:sequence>
				</xs:complexType>
				<xs:key name="ml_aa_names.lg">
					<xs:selector xpath="*"/>
					<xs:field xpath="@LG"/>
				</xs:key>
			</xs:element>
			<xs:element name="TRANSLITERATIONS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TRANSLITERATED_ADDR" type="t_transliterated_addr"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TRANSLATION_SECTION" type="t_translation_section"/>
</xs:schema>
