v2.0.1/05-Implementation/epo-etl/src/main/resources/TED_publication_R2.0.9.S02.E01_003-20170123/common_2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : common_2014
#  RELEASE : "R2.0.9.S02.E01"
#  Intermediate release number 003-20170123
#  Last update: 23/01/2017
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n2016="ted/2016/nuts" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.9.S02.E01">
	<xs:include schemaLocation="languages.xsd"/>
	<xs:include schemaLocation="countries.xsd"/>
	<xs:include schemaLocation="cpv_codes.xsd"/>
	<xs:include schemaLocation="cpv_supplementary_codes.xsd"/>
	<xs:include schemaLocation="nuts_codes.xsd"/>
	<xs:import namespace="ted/2016/nuts" schemaLocation="nuts_codes_2016.xsd"/>
	<!--####################################################################################
UUID
####################################################################################-->
	<xs:simpleType name="uuid">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NOTICE_UUID" type="uuid"/>
	<!--####################################################################################
SENDER
####################################################################################-->
	<xs:simpleType name="esender_login">
		<xs:annotation>
			<xs:documentation>TED + 5 random digits/letters in upper case, or country ISO2 + 3 digits, or TED + 2 digits/letters or ENOTICES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1}[a-zA-Z0-9]{4,7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ESENDER_LOGIN" type="esender_login"/>
	<xs:simpleType name="customer_login">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9._\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CUSTOMER_LOGIN" type="customer_login"/>
	<xs:simpleType name="no_doc_ext">
		<xs:restriction base="xs:string">
			<xs:pattern value="(20\d{2}\-\d{6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NO_DOC_EXT" type="no_doc_ext"/>
	<!--####################################################################################
LISTS
####################################################################################-->
	<xs:simpleType name="category">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORIGINAL"/>
			<xs:enumeration value="TRANSLATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencies">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="RON"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="HRK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_ce_language_list">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BG"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="DA"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="EL"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="publication">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="agree_to_publication">
		<xs:attribute name="PUBLICATION" type="publication" use="required"/>
	</xs:complexType>
	<xs:complexType name="non_published">
		<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
	</xs:complexType>
	<xs:simpleType name="yes_no">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<!--####################################################################################
CONTENT
####################################################################################-->
	<xs:complexType name="empty">
		<xs:annotation>
			<xs:documentation>only-element</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:simpleType name="string_not_empty">
		<xs:annotation>
			<xs:documentation>Does not accept return and newline</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\n\r]*\w[^\n\r]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_with_letter">
		<xs:annotation>
			<xs:documentation>Does not accept return and newline and requires at least one letter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\n\r]*[^\W\d_][^\n\r]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_20">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_50">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_100">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_150">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="450"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_200">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="600"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_300">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_400">
		<xs:restriction base="string_not_empty">
			<xs:maxLength value="1200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ft">
		<xs:simpleContent>
			<xs:extension base="string_not_empty">
				<xs:attribute name="TYPE" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="SUB"/>
							<xs:enumeration value="SUP"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="FT" type="ft"/>
	<xs:complexType name="p" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="FT"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="P" type="p"/>
	<xs:complexType name="text_ft_single_line">
		<xs:sequence>
			<xs:element ref="P"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="text_ft_multi_lines">
		<xs:sequence>
			<xs:element ref="P" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="text_ft_multi_lines_or_string" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="P"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="_2car">
		<xs:annotation>
			<xs:documentation>Pattern for 2 chars (integer)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="_3car">
		<xs:annotation>
			<xs:documentation>Pattern for 3 chars (integrer)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="_4car">
		<xs:annotation>
			<xs:documentation>Pattern for 4 chars (integer)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanum">
		<xs:annotation>
			<xs:documentation>alphanumeric, no space</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanum_50">
		<xs:restriction base="alphanum">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanum_100">
		<xs:restriction base="alphanum">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanum_200">
		<xs:restriction base="alphanum">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!--####################################################################################
NUMBER
#################################################################################### -->
	<xs:simpleType name="nb">
		<xs:restriction base="_3car">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="nb_range">
		<xs:sequence>
			<xs:element name="MIN" type="nb"/>
			<xs:element name="MAX" type="nb"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="prct">
		<xs:annotation>
			<xs:documentation xml:lang="en">Percentage format: integer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="100"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="prct_range">
		<xs:sequence minOccurs="0">
			<xs:element name="MIN">
				<xs:simpleType>
					<xs:restriction base="prct">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MAX">
				<xs:simpleType>
					<xs:restriction base="prct">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ####################################################################################
VALUE COST
#################################################################################### -->
	<xs:simpleType name="cost">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:pattern value="\d{1,13}(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="val">
		<xs:simpleContent>
			<xs:extension base="cost">
				<xs:attribute name="CURRENCY" type="currencies" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="val_range">
		<xs:sequence>
			<xs:element name="LOW" type="cost"/>
			<xs:element name="HIGH" type="cost"/>
		</xs:sequence>
		<xs:attribute name="CURRENCY" type="currencies" use="required"/>
	</xs:complexType>
	<xs:element name="VAL_ESTIMATED_TOTAL" type="val"/>
	<xs:element name="VAL_OBJECT" type="val"/>
	<xs:element name="VAL_RANGE_OBJECT" type="val_range"/>
	<xs:element name="VAL_TOTAL" type="val"/>
	<xs:element name="VAL_RANGE_TOTAL" type="val_range"/>
	<!--####################################################################################
TIME
#################################################################################### -->
	<xs:simpleType name="time">
		<xs:annotation>
			<xs:documentation>Format hh:mm</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-1]?[0-9])|(2[0-3])):[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date_full">
		<xs:annotation>
			<xs:documentation>Format (19|20)yy-mm-dd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="(19|20).{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duration_unit_m_d">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="DAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duration_unit_m_y">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="YEAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duration_value_4d">
		<xs:annotation>
			<xs:documentation>Format 9999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="_4car">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duration_value_3d">
		<xs:annotation>
			<xs:documentation>Format 999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="_3car">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duration_value_2d">
		<xs:annotation>
			<xs:documentation>Format 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="_2car">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="duration_m_d">
		<xs:simpleContent>
			<xs:extension base="duration_value_4d">
				<xs:attribute name="TYPE" type="duration_unit_m_d" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="duration_m_y">
		<xs:simpleContent>
			<xs:extension base="duration_value_2d">
				<xs:attribute name="TYPE" type="duration_unit_m_y" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DATE_START" type="date_full"/>
	<xs:element name="DATE_END" type="date_full"/>
	<xs:group name="time_frame">
		<xs:choice>
			<xs:element name="DURATION" type="duration_m_d"/>
			<xs:sequence>
				<xs:element ref="DATE_START"/>
				<xs:element ref="DATE_END" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="DATE_END"/>
		</xs:choice>
	</xs:group>
	<xs:group name="time_frame_indefinite">
		<xs:choice>
			<xs:element name="INDEFINITE_DURATION" type="empty"/>
			<xs:sequence>
				<xs:element ref="DATE_START"/>
				<xs:element ref="DATE_END"/>
			</xs:sequence>
		</xs:choice>
	</xs:group>
	<!-- ####################################################################################
CONTRACT TYPES
#################################################################################### -->
	<xs:complexType name="type_contract">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICES"/>
					<xs:enumeration value="SUPPLIES"/>
					<xs:enumeration value="WORKS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="no_supplies">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICES"/>
					<xs:enumeration value="WORKS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="no_works">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICES"/>
					<xs:enumeration value="SUPPLIES"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="no_services">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUPPLIES"/>
					<xs:enumeration value="WORKS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="supplies">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUPPLIES"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="services">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICES"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="works">
		<xs:attribute name="CTYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="WORKS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- ####################################################################################
ADDRESSES
#################################################################################### -->
	<xs:element name="OFFICIALNAME" type="string_300"/>
	<xs:element name="NATIONALID" type="string_100"/>
	<xs:element name="ADDRESS" type="string_400"/>
	<xs:element name="POSTAL_CODE" type="string_20"/>
	<xs:element name="TOWN">
		<xs:simpleType>
			<xs:restriction base="string_with_letter">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CONTACT_POINT" type="string_300"/>
	<xs:simpleType name="phone">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<p>The plus character "+" is used in front of the international dialing code</p>
				<p>A space character separates the international code from the remaining digits</p>
				<p>The remaining digits should be presented as a single block</p>
				<p>An extension number should be separated from the main number by hyphen "-"</p>
				<p>When indicating more than one telephone number, separate them using a slash</p>
				<p>In this case the international dialing code of the following phone numbers can be omitted.</p>
				<p>When indicating consecutive numbers in an abbreviated manner use a slash</p>
				<p>Examples:</p>
				<p>+49 12345678</p>
				<p>+49 12345678-0001</p>
				<p>+49 12345678/79/80/81</p>
				<p>+49 12345678/+49 987654321 / +49 9988776655</p>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_100">
			<xs:pattern value="(\+\d{1,3}\s\d+(\-\d+)*((\s)?/(\s)?(\+\d{1,3}\s)?\d+(\-\d+)*)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PHONE" type="phone"/>
	<xs:element name="FAX" type="phone"/>
	<xs:simpleType name="email">
		<xs:restriction base="string_200">
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="E_MAIL" type="email"/>
	<xs:simpleType name="url">
		<xs:restriction base="string_200">
			<xs:pattern value="(((http|HTTP|https|HTTPS|ftp|FTP|ftps|FTPS|sftp|SFTP)://)|((w|W){3}(\d)?\.))[\w\?!\./:;,\-_=#+*%@&quot;\(\)&amp;]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="URL" type="url"/>
	<xs:element name="URL_BUYER" type="url"/>
	<xs:element name="URL_GENERAL" type="url"/>
	<xs:complexType name="org_id_new">
		<xs:sequence>
			<xs:element ref="OFFICIALNAME"/>
			<xs:element ref="NATIONALID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contact_review">
		<xs:sequence>
			<xs:element ref="OFFICIALNAME"/>
			<xs:element ref="ADDRESS" minOccurs="0"/>
			<xs:element ref="TOWN"/>
			<xs:element ref="POSTAL_CODE" minOccurs="0"/>
			<xs:element ref="COUNTRY"/>
			<xs:element ref="PHONE" minOccurs="0"/>
			<xs:element ref="E_MAIL" minOccurs="0"/>
			<xs:element ref="FAX" minOccurs="0"/>
			<xs:element ref="URL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contact_contracting_body">
		<xs:complexContent>
			<xs:extension base="org_id_new">
				<xs:sequence>
					<xs:element ref="ADDRESS" minOccurs="0"/>
					<xs:element ref="TOWN"/>
					<xs:element ref="POSTAL_CODE" minOccurs="0"/>
					<xs:element ref="COUNTRY"/>
					<xs:element ref="CONTACT_POINT" minOccurs="0"/>
					<xs:element ref="PHONE" minOccurs="0"/>
					<xs:element ref="E_MAIL"/>
					<xs:element ref="FAX" minOccurs="0"/>
					<xs:choice>
						<xs:element ref="NUTS"/>
						<xs:element ref="n2016:NUTS"/>
					</xs:choice>
					<xs:element ref="URL_GENERAL"/>
					<xs:element ref="URL_BUYER" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="contact_contractor">
		<xs:complexContent>
			<xs:extension base="org_id_new">
				<xs:sequence>
					<xs:element ref="ADDRESS" minOccurs="0"/>
					<xs:element ref="TOWN"/>
					<xs:element ref="POSTAL_CODE" minOccurs="0"/>
					<xs:element ref="COUNTRY"/>
					<xs:element ref="PHONE" minOccurs="0"/>
					<xs:element ref="E_MAIL" minOccurs="0"/>
					<xs:element ref="FAX" minOccurs="0"/>
					<xs:choice>
						<xs:element ref="NUTS"/>
						<xs:element ref="n2016:NUTS"/>
					</xs:choice>
					<xs:element ref="URL" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ####################################################################################
LOT
#################################################################################### -->
	<xs:element name="LOT_NO" type="string_100"/>
	<xs:simpleType name="nb_lot">
		<xs:restriction base="_4car">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LOT_ALL" type="empty"/>
	<xs:element name="LOT_ONE_ONLY" type="empty"/>
	<xs:element name="LOT_MAX_NUMBER" type="nb_lot"/>
	<xs:element name="LOT_MAX_ONE_TENDERER" type="nb_lot"/>
	<xs:element name="LOT_COMBINING_CONTRACT_RIGHT" type="text_ft_multi_lines"/>
	<xs:complexType name="lot_numbers">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="LOT_ALL"/>
				<xs:element ref="LOT_MAX_NUMBER"/>
				<xs:element ref="LOT_ONE_ONLY"/>
			</xs:choice>
			<xs:element ref="LOT_MAX_ONE_TENDERER" minOccurs="0"/>
			<xs:element ref="LOT_COMBINING_CONTRACT_RIGHT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LOT_DIVISION" type="empty"/>
	<xs:element name="NO_LOT_DIVISION" type="empty"/>
	<!-- ####################################################################################
ANNEX D
#################################################################################### -->
	<xs:element name="D_PROC_COMPETITIVE_DIALOGUE" type="empty"/>
	<xs:element name="D_PROC_NEGOTIATED_PRIOR_CALL_COMPETITION" type="empty"/>
	<xs:element name="D_PROC_OPEN" type="empty"/>
	<xs:element name="D_PROC_RESTRICTED" type="empty"/>
	<xs:element name="D_NO_TENDERS_REQUESTS" type="empty"/>
	<xs:element name="D_ALL_TENDERS" type="empty"/>
	<xs:element name="D_PERIODS_INCOMPATIBLE" type="empty"/>
	<xs:element name="D_PURE_RESEARCH" type="empty"/>
	<xs:element name="D_TECHNICAL" type="empty"/>
	<xs:element name="D_ARTISTIC" type="empty"/>
	<xs:element name="D_EXCLUSIVE_RIGHT" type="empty"/>
	<xs:element name="D_PROTECT_RIGHTS" type="empty"/>
	<xs:element name="D_OTHER_SERVICES" type="no_works"/>
	<xs:element name="D_MARITIME_SERVICES" type="services"/>
	<xs:element name="D_EXTREME_URGENCY" type="empty"/>
	<xs:element name="D_ADD_DELIVERIES_ORDERED" type="empty"/>
	<xs:element name="D_REPETITION_EXISTING" type="no_supplies"/>
	<xs:element name="D_CONTRACT_AWARDED_DESIGN_CONTEST" type="services"/>
	<xs:element name="D_COMMODITY_MARKET" type="supplies"/>
	<xs:element name="D_FROM_WINDING_PROVIDER" type="no_works"/>
	<xs:element name="D_FROM_LIQUIDATOR_CREDITOR" type="no_works"/>
	<xs:element name="D_BARGAIN_PURCHASE" type="empty"/>
	<xs:element name="D_SERVICES_LISTED" type="empty"/>
	<xs:element name="D_OUTSIDE_SCOPE" type="empty"/>
	<xs:element name="D_JUSTIFICATION" type="text_ft_multi_lines"/>
	<xs:complexType name="annex_d1">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="annex_d1_part1"/>
				<xs:group ref="annex_part2"/>
			</xs:choice>
			<xs:element ref="D_JUSTIFICATION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="annex_d1_part1">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Justification for the choice of the negotiated procedure without prior publication (Art.32, Dir. 2014/24/EU)</xs:documentation>
			</xs:annotation>
			<xs:element name="D_ACCORDANCE_ARTICLE">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="D_PROC_OPEN"/>
							<xs:element ref="D_PROC_RESTRICTED"/>
						</xs:choice>
						<xs:element name="D_MANUF_FOR_RESEARCH" type="supplies" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_TECHNICAL"/>
							<xs:element ref="D_ARTISTIC"/>
							<xs:element ref="D_PROTECT_RIGHTS"/>
						</xs:choice>
						<xs:element ref="D_EXTREME_URGENCY" minOccurs="0"/>
						<xs:element ref="D_ADD_DELIVERIES_ORDERED" minOccurs="0"/>
						<xs:element ref="D_REPETITION_EXISTING" minOccurs="0"/>
						<xs:element ref="D_CONTRACT_AWARDED_DESIGN_CONTEST" minOccurs="0"/>
						<xs:element ref="D_COMMODITY_MARKET" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_FROM_WINDING_PROVIDER"/>
							<xs:element ref="D_FROM_LIQUIDATOR_CREDITOR"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="annex_part2">
		<xs:sequence>
			<xs:element ref="D_OUTSIDE_SCOPE">
				<xs:annotation>
					<xs:documentation>Other justification for the award of the award of the contract without prior publication</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="annex_d2">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="annex_d2_part1"/>
				<xs:group ref="annex_part2"/>
			</xs:choice>
			<xs:element ref="D_JUSTIFICATION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="annex_d2_part1">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Justification for the choice of the negotiated procedure without prior publication in accordance (Art.50, Dir. 2014/25/EU)</xs:documentation>
			</xs:annotation>
			<xs:element name="D_ACCORDANCE_ARTICLE">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="D_NO_TENDERS_REQUESTS" minOccurs="0"/>
						<xs:element ref="D_PURE_RESEARCH" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_TECHNICAL"/>
							<xs:element ref="D_ARTISTIC"/>
							<xs:element ref="D_PROTECT_RIGHTS"/>
						</xs:choice>
						<xs:element ref="D_EXTREME_URGENCY" minOccurs="0"/>
						<xs:element ref="D_ADD_DELIVERIES_ORDERED" minOccurs="0"/>
						<xs:element ref="D_REPETITION_EXISTING" minOccurs="0"/>
						<xs:element ref="D_CONTRACT_AWARDED_DESIGN_CONTEST" minOccurs="0"/>
						<xs:element ref="D_COMMODITY_MARKET" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_FROM_WINDING_PROVIDER"/>
							<xs:element ref="D_FROM_LIQUIDATOR_CREDITOR"/>
						</xs:choice>
						<xs:element ref="D_BARGAIN_PURCHASE" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="annex_d3">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="annex_d3_part1"/>
				<xs:group ref="annex_d3_part2"/>
			</xs:choice>
			<xs:element ref="D_JUSTIFICATION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="annex_d3_part1">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Justification for the choice of the negotiated procedure without prior publication (Article 28 of Directive 2009/81/EC)</xs:documentation>
			</xs:annotation>
			<xs:element name="D_ACCORDANCE_ARTICLE">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="D_PROC_RESTRICTED"/>
							<xs:element ref="D_PROC_NEGOTIATED_PRIOR_CALL_COMPETITION"/>
							<xs:element ref="D_PROC_COMPETITIVE_DIALOGUE"/>
						</xs:choice>
						<xs:element ref="D_OTHER_SERVICES" minOccurs="0"/>
						<xs:element name="D_MANUF_FOR_RESEARCH" type="no_works" minOccurs="0"/>
						<xs:element ref="D_ALL_TENDERS" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_TECHNICAL"/>
							<xs:element ref="D_PROTECT_RIGHTS"/>
						</xs:choice>
						<xs:element ref="D_PERIODS_INCOMPATIBLE" minOccurs="0"/>
						<xs:element ref="D_EXTREME_URGENCY" minOccurs="0"/>
						<xs:element ref="D_ADD_DELIVERIES_ORDERED" minOccurs="0"/>
						<xs:element ref="D_REPETITION_EXISTING" minOccurs="0"/>
						<xs:element ref="D_COMMODITY_MARKET" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_FROM_WINDING_PROVIDER"/>
							<xs:element ref="D_FROM_LIQUIDATOR_CREDITOR"/>
						</xs:choice>
						<xs:element ref="D_MARITIME_SERVICES" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="annex_d3_part2">
		<xs:choice>
			<xs:annotation>
				<xs:documentation>Other justification for the award of the award of the contract without prior publication</xs:documentation>
			</xs:annotation>
			<xs:element ref="D_SERVICES_LISTED"/>
			<xs:element ref="D_OUTSIDE_SCOPE"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="annex_d4">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="annex_d4_part1"/>
				<xs:group ref="annex_part2"/>
			</xs:choice>
			<xs:element ref="D_JUSTIFICATION"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="annex_d4_part1">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Justification for the choice of the negotiated procedure without prior publication in accordance (Art.31(4) and (5), Dir. 2014/23/EU)</xs:documentation>
			</xs:annotation>
			<xs:element name="D_ACCORDANCE_ARTICLE">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="D_NO_TENDERS_REQUESTS" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="D_ARTISTIC"/>
							<xs:element ref="D_TECHNICAL"/>
							<xs:element ref="D_EXCLUSIVE_RIGHT"/>
							<xs:element ref="D_PROTECT_RIGHTS"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- ####################################################################################
SECTION I
#################################################################################### -->
	<xs:element name="ADDRESS_CONTRACTING_BODY" type="contact_contracting_body"/>
	<xs:element name="ADDRESS_CONTRACTING_BODY_ADDITIONAL" type="contact_contracting_body"/>
	<xs:element name="JOINT_PROCUREMENT_INVOLVED" type="empty"/>
	<xs:element name="PROCUREMENT_LAW" type="text_ft_multi_lines"/>
	<xs:element name="CENTRAL_PURCHASING" type="empty"/>
	<xs:group name="procurement_address">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ADDRESS_CONTRACTING_BODY_ADDITIONAL" maxOccurs="199"/>
				<xs:element ref="JOINT_PROCUREMENT_INVOLVED"/>
				<xs:element ref="PROCUREMENT_LAW" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="CENTRAL_PURCHASING" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="DOCUMENT_FULL" type="empty"/>
	<xs:element name="DOCUMENT_RESTRICTED" type="empty"/>
	<xs:element name="URL_DOCUMENT" type="url"/>
	<xs:group name="document_url_opt">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="DOCUMENT_FULL"/>
				<xs:element ref="DOCUMENT_RESTRICTED"/>
			</xs:choice>
			<xs:element ref="URL_DOCUMENT" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="document_url_man">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="DOCUMENT_FULL"/>
				<xs:element ref="DOCUMENT_RESTRICTED"/>
			</xs:choice>
			<xs:element ref="URL_DOCUMENT"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="ADDRESS_FURTHER_INFO_IDEM" type="empty"/>
	<xs:element name="ADDRESS_FURTHER_INFO" type="contact_contracting_body"/>
	<xs:group name="information">
		<xs:choice>
			<xs:element ref="ADDRESS_FURTHER_INFO_IDEM"/>
			<xs:element ref="ADDRESS_FURTHER_INFO"/>
		</xs:choice>
	</xs:group>
	<xs:element name="URL_PARTICIPATION" type="url"/>
	<xs:element name="ADDRESS_PARTICIPATION_IDEM" type="empty"/>
	<xs:element name="ADDRESS_PARTICIPATION" type="contact_contracting_body"/>
	<xs:group name="tenders_request">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="URL_PARTICIPATION"/>
				<xs:choice minOccurs="0">
					<xs:element ref="ADDRESS_PARTICIPATION_IDEM"/>
					<xs:element ref="ADDRESS_PARTICIPATION"/>
				</xs:choice>
			</xs:sequence>
			<xs:choice>
				<xs:element ref="ADDRESS_PARTICIPATION_IDEM"/>
				<xs:element ref="ADDRESS_PARTICIPATION"/>
			</xs:choice>
		</xs:choice>
	</xs:group>
	<xs:element name="URL_TOOL" type="url"/>
	<xs:complexType name="ca_type">
		<xs:attribute name="VALUE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BODY_PUBLIC"/>
					<xs:enumeration value="EU_INSTITUTION"/>
					<xs:enumeration value="MINISTRY"/>
					<xs:enumeration value="NATIONAL_AGENCY"/>
					<xs:enumeration value="REGIONAL_AGENCY"/>
					<xs:enumeration value="REGIONAL_AUTHORITY"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ca_activity">
		<xs:attribute name="VALUE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="DEFENCE"/>
					<xs:enumeration value="ECONOMIC_AND_FINANCIAL_AFFAIRS"/>
					<xs:enumeration value="EDUCATION"/>
					<xs:enumeration value="ENVIRONMENT"/>
					<xs:enumeration value="GENERAL_PUBLIC_SERVICES"/>
					<xs:enumeration value="HEALTH"/>
					<xs:enumeration value="HOUSING_AND_COMMUNITY_AMENITIES"/>
					<xs:enumeration value="PUBLIC_ORDER_AND_SAFETY"/>
					<xs:enumeration value="RECREATION_CULTURE_AND_RELIGION"/>
					<xs:enumeration value="SOCIAL_PROTECTION"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:group name="authority">
		<xs:sequence>
			<xs:choice>
				<xs:element name="CA_TYPE" type="ca_type"/>
				<xs:element name="CA_TYPE_OTHER" type="string_200"/>
			</xs:choice>
			<xs:choice>
				<xs:element name="CA_ACTIVITY" type="ca_activity"/>
				<xs:element name="CA_ACTIVITY_OTHER" type="string_200"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ce_activity">
		<xs:attribute name="VALUE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AIRPORT_RELATED_ACTIVITIES"/>
					<xs:enumeration value="ELECTRICITY"/>
					<xs:enumeration value="EXPLORATION_EXTRACTION_COAL_OTHER_SOLID_FUEL"/>
					<xs:enumeration value="EXPLORATION_EXTRACTION_GAS_OIL"/>
					<xs:enumeration value="PORT_RELATED_ACTIVITIES"/>
					<xs:enumeration value="POSTAL_SERVICES"/>
					<xs:enumeration value="PRODUCTION_TRANSPORT_DISTRIBUTION_GAS_HEAT"/>
					<xs:enumeration value="RAILWAY_SERVICES"/>
					<xs:enumeration value="URBAN_RAILWAY_TRAMWAY_TROLLEYBUS_BUS_SERVICES"/>
					<xs:enumeration value="WATER"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:group name="entity">
		<xs:choice>
			<xs:element name="CE_ACTIVITY" type="ce_activity"/>
			<xs:element name="CE_ACTIVITY_OTHER" type="string_200"/>
		</xs:choice>
	</xs:group>
	<!-- ####################################################################################
SECTION II
#################################################################################### -->
	<xs:simpleType name="nb_object_contract">
		<xs:restriction base="_3car">
			<xs:maxInclusive value="100"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TITLE" type="text_ft_single_line"/>
	<xs:element name="REFERENCE_NUMBER" type="string_100"/>
	<xs:complexType name="cpv_set">
		<xs:sequence>
			<xs:element ref="CPV_CODE"/>
			<xs:element ref="CPV_SUPPLEMENTARY_CODE" minOccurs="0" maxOccurs="20"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CPV_ADDITIONAL" type="cpv_set"/>
	<xs:element name="CPV_MAIN" type="cpv_set"/>
	<xs:element name="TYPE_CONTRACT" type="type_contract"/>
	<xs:element name="SHORT_DESCR" type="text_ft_multi_lines"/>
	<xs:element name="MAIN_SITE" type="text_ft_multi_lines"/>
	<xs:element name="AC_CRITERION" type="string_200"/>
	<xs:element name="AC_WEIGHTING" type="string_20"/>
	<xs:complexType name="ac_definition">
		<xs:sequence>
			<xs:element ref="AC_CRITERION" minOccurs="1"/>
			<xs:element ref="AC_WEIGHTING" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AC_COST" type="ac_definition"/>
	<xs:element name="AC_QUALITY" type="ac_definition"/>
	<xs:element name="AC_PRICE">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="AC_WEIGHTING"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AC_PROCUREMENT_DOC" type="empty"/>
	<xs:group name="award_criteria">
		<xs:sequence>
			<xs:element ref="AC_QUALITY" minOccurs="0" maxOccurs="20"/>
			<xs:choice>
				<xs:element ref="AC_COST" maxOccurs="20"/>
				<xs:element ref="AC_PRICE"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="award_criteria_doc">
		<xs:choice>
			<xs:group ref="award_criteria"/>
			<xs:element ref="AC_PROCUREMENT_DOC"/>
		</xs:choice>
	</xs:group>
	<xs:element name="AC">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agree_to_publication">
					<xs:group ref="award_criteria"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RENEWAL" type="empty"/>
	<xs:element name="RENEWAL_DESCR" type="text_ft_multi_lines"/>
	<xs:element name="NO_RENEWAL" type="empty"/>
	<xs:group name="renewal">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="RENEWAL"/>
				<xs:element ref="RENEWAL_DESCR"/>
			</xs:sequence>
			<xs:element ref="NO_RENEWAL"/>
		</xs:choice>
	</xs:group>
	<xs:element name="NB_ENVISAGED_CANDIDATE" type="nb"/>
	<xs:element name="NB_MIN_LIMIT_CANDIDATE" type="nb"/>
	<xs:element name="NB_MAX_LIMIT_CANDIDATE" type="nb"/>
	<xs:element name="CRITERIA_CANDIDATE" type="text_ft_multi_lines"/>
	<xs:group name="limit_candidate">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="NB_ENVISAGED_CANDIDATE"/>
				<xs:sequence>
					<xs:element ref="NB_MIN_LIMIT_CANDIDATE"/>
					<xs:element ref="NB_MAX_LIMIT_CANDIDATE" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="NB_MAX_LIMIT_CANDIDATE"/>
			</xs:choice>
			<xs:element ref="CRITERIA_CANDIDATE" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="ACCEPTED_VARIANTS" type="empty"/>
	<xs:element name="NO_ACCEPTED_VARIANTS" type="empty"/>
	<xs:group name="variants">
		<xs:choice>
			<xs:element ref="ACCEPTED_VARIANTS"/>
			<xs:element ref="NO_ACCEPTED_VARIANTS"/>
		</xs:choice>
	</xs:group>
	<xs:element name="OPTIONS" type="empty"/>
	<xs:element name="OPTIONS_DESCR" type="text_ft_multi_lines"/>
	<xs:element name="NO_OPTIONS" type="empty"/>
	<xs:group name="options">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="OPTIONS"/>
				<xs:element ref="OPTIONS_DESCR"/>
			</xs:sequence>
			<xs:element ref="NO_OPTIONS"/>
		</xs:choice>
	</xs:group>
	<xs:element name="ECATALOGUE_REQUIRED" type="empty"/>
	<xs:element name="EU_PROGR_RELATED" type="string_200"/>
	<xs:element name="NO_EU_PROGR_RELATED" type="empty"/>
	<xs:group name="eu_union_funds">
		<xs:choice>
			<xs:element ref="EU_PROGR_RELATED"/>
			<xs:element ref="NO_EU_PROGR_RELATED"/>
		</xs:choice>
	</xs:group>
	<xs:element name="INFO_ADD" type="text_ft_multi_lines"/>
	<xs:element name="DATE_PUBLICATION_NOTICE" type="date_full"/>
	<!-- ####################################################################################
SECTION III
#################################################################################### -->
	<xs:element name="SUITABILITY" type="text_ft_multi_lines"/>
	<xs:element name="ECONOMIC_CRITERIA_DOC" type="empty"/>
	<xs:element name="ECONOMIC_FINANCIAL_INFO" type="text_ft_multi_lines"/>
	<xs:element name="ECONOMIC_FINANCIAL_MIN_LEVEL" type="text_ft_multi_lines"/>
	<xs:element name="TECHNICAL_CRITERIA_DOC" type="empty"/>
	<xs:element name="TECHNICAL_PROFESSIONAL_INFO" type="text_ft_multi_lines"/>
	<xs:element name="TECHNICAL_PROFESSIONAL_MIN_LEVEL" type="text_ft_multi_lines"/>
	<xs:element name="RULES_CRITERIA" type="text_ft_multi_lines"/>
	<xs:element name="RESTRICTED_SHELTERED_WORKSHOP" type="empty"/>
	<xs:element name="RESTRICTED_SHELTERED_PROGRAM" type="empty"/>
	<xs:element name="RESERVED_ORGANISATIONS_SERVICE_MISSION" type="empty"/>
	<xs:element name="DEPOSIT_GUARANTEE_REQUIRED" type="text_ft_multi_lines"/>
	<xs:element name="MAIN_FINANCING_CONDITION" type="text_ft_multi_lines"/>
	<xs:element name="LEGAL_FORM" type="text_ft_multi_lines"/>
	<xs:element name="QUALIFICATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONDITIONS" type="text_ft_multi_lines"/>
				<xs:element name="METHODS" type="text_ft_multi_lines" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CRITERIA_SELECTION" type="text_ft_multi_lines"/>
	<xs:element name="PARTICULAR_PROFESSION" type="services"/>
	<xs:element name="REFERENCE_TO_LAW" type="text_ft_multi_lines"/>
	<xs:element name="PERFORMANCE_CONDITIONS" type="text_ft_multi_lines"/>
	<xs:element name="PERFORMANCE_STAFF_QUALIFICATION" type="empty"/>
	<xs:complexType name="lefti">
		<xs:annotation>
			<xs:documentation>SECTION III: LEGAL, ECONOMIC, FINANCIAL AND TECHNICAL INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SUITABILITY" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="ECONOMIC_CRITERIA_DOC"/>
				<xs:sequence>
					<xs:element ref="ECONOMIC_FINANCIAL_INFO" minOccurs="0"/>
					<xs:element ref="ECONOMIC_FINANCIAL_MIN_LEVEL" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="TECHNICAL_CRITERIA_DOC"/>
				<xs:sequence>
					<xs:element ref="TECHNICAL_PROFESSIONAL_INFO" minOccurs="0"/>
					<xs:element ref="TECHNICAL_PROFESSIONAL_MIN_LEVEL" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="RULES_CRITERIA" minOccurs="0"/>
			<xs:element ref="RESTRICTED_SHELTERED_WORKSHOP" minOccurs="0"/>
			<xs:element ref="RESTRICTED_SHELTERED_PROGRAM" minOccurs="0"/>
			<xs:element ref="RESERVED_ORGANISATIONS_SERVICE_MISSION" minOccurs="0"/>
			<xs:element ref="DEPOSIT_GUARANTEE_REQUIRED" minOccurs="0"/>
			<xs:element ref="MAIN_FINANCING_CONDITION" minOccurs="0"/>
			<xs:element ref="LEGAL_FORM" minOccurs="0"/>
			<xs:element ref="QUALIFICATION" minOccurs="0" maxOccurs="20"/>
			<xs:element ref="CRITERIA_SELECTION" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element ref="PARTICULAR_PROFESSION"/>
				<xs:element ref="REFERENCE_TO_LAW" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="PERFORMANCE_CONDITIONS" minOccurs="0"/>
			<xs:element ref="PERFORMANCE_STAFF_QUALIFICATION" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ####################################################################################
SECTION IV
#################################################################################### -->
	<xs:element name="PT_AWARD_CONTRACT_WITH_PRIOR_PUBLICATION" type="empty"/>
	<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL" type="empty"/>
	<xs:element name="PT_AWARD_CONTRACT_WITHOUT_PUBLICATION" type="empty"/>
	<xs:element name="PT_COMPETITIVE_DIALOGUE" type="empty"/>
	<xs:element name="PT_COMPETITIVE_NEGOTIATION" type="empty"/>
	<xs:element name="PT_INNOVATION_PARTNERSHIP" type="empty"/>
	<xs:element name="PT_INVOLVING_NEGOTIATION" type="empty"/>
	<xs:element name="PT_NEGOTIATED_WITH_PRIOR_CALL" type="empty"/>
	<xs:element name="PT_NEGOTIATED_WITHOUT_PUBLICATION" type="empty"/>
	<xs:element name="PT_OPEN" type="empty"/>
	<xs:element name="PT_RESTRICTED" type="empty"/>
	<xs:element name="ACCELERATED_PROC" type="text_ft_multi_lines"/>
	<xs:element name="NB_PARTICIPANTS" type="nb"/>
	<xs:element name="JUSTIFICATION" type="string_400"/>
	<xs:complexType name="framework_info">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="SEVERAL_OPERATORS" type="empty"/>
					<xs:element ref="NB_PARTICIPANTS" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="SINGLE_OPERATOR" type="empty"/>
			</xs:choice>
			<xs:element ref="JUSTIFICATION" minOccurs="0">
				<xs:annotation>
					<xs:documentation>for any duration exceeding a certain number of years</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DPS" type="empty"/>
	<xs:group name="dps_purchasers">
		<xs:sequence>
			<xs:element ref="DPS"/>
			<xs:element name="DPS_ADDITIONAL_PURCHASERS" type="empty" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="CRITERIA_EVALUATION" type="text_ft_multi_lines"/>
	<xs:element name="REDUCTION_RECOURSE" type="empty"/>
	<xs:element name="RIGHT_CONTRACT_INITIAL_TENDERS" type="empty"/>
	<xs:element name="EAUCTION_USED" type="empty"/>
	<xs:element name="INFO_ADD_EAUCTION" type="text_ft_multi_lines"/>
	<xs:group name="eauction">
		<xs:sequence>
			<xs:element ref="EAUCTION_USED"/>
			<xs:element ref="INFO_ADD_EAUCTION" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="CONTRACT_COVERED_GPA" type="empty"/>
	<xs:element name="NO_CONTRACT_COVERED_GPA" type="empty"/>
	<xs:group name="gpa">
		<xs:choice>
			<xs:element ref="CONTRACT_COVERED_GPA"/>
			<xs:element ref="NO_CONTRACT_COVERED_GPA"/>
		</xs:choice>
	</xs:group>
	<xs:element name="URL_NATIONAL_PROCEDURE" type="url"/>
	<xs:element name="MAIN_FEATURES_AWARD" type="text_ft_multi_lines"/>
	<xs:simpleType name="noticeNo">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d{2}/S \d{3}-\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NOTICE_NUMBER_OJ" type="noticeNo"/>
	<xs:group name="receipt_tenders">
		<xs:sequence>
			<xs:element name="DATE_RECEIPT_TENDERS" type="date_full"/>
			<xs:element name="TIME_RECEIPT_TENDERS" type="time" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="DATE_DISPATCH_INVITATIONS" type="date_full"/>
	<xs:element name="DATE_AWARD_SCHEDULED" type="date_full"/>
	<xs:element name="LANGUAGES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LANGUAGE" maxOccurs="50">
					<xs:complexType>
						<xs:attribute name="VALUE" type="t_language_list" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="lg">
			<xs:selector xpath="*"/>
			<xs:field xpath="@VALUE"/>
		</xs:unique>
	</xs:element>
	<xs:group name="time_frame_tender_valid">
		<xs:choice>
			<xs:element name="DATE_TENDER_VALID" type="date_full"/>
			<xs:element name="DURATION_TENDER_VALID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="duration_value_3d">
							<xs:attribute name="TYPE" use="required" fixed="MONTH"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="cond_for_opening_tenders">
		<xs:sequence>
			<xs:element name="DATE_OPENING_TENDERS" type="date_full"/>
			<xs:element name="TIME_OPENING_TENDERS" type="time"/>
			<xs:element name="PLACE" type="text_ft_multi_lines" minOccurs="0"/>
			<xs:element ref="INFO_ADD" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OPENING_CONDITION" type="cond_for_opening_tenders"/>
	<xs:element name="TERMINATION_DPS" type="empty"/>
	<xs:element name="TERMINATION_PIN" type="empty"/>
	<!--####################################################################################
SECTION V
#################################################################################### -->
	<xs:element name="CONTRACT_NO" type="string_100"/>
	<xs:group name="contract_number">
		<xs:sequence>
			<xs:element ref="CONTRACT_NO" minOccurs="0"/>
			<xs:element ref="LOT_NO" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="PROCUREMENT_DISCONTINUED">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:choice>
					<xs:sequence>
						<xs:choice>
							<xs:element name="ORIGINAL_ENOTICES" type="non_published"/>
							<xs:element name="ORIGINAL_TED_ESENDER" type="non_published"/>
						</xs:choice>
						<xs:element name="ESENDER_LOGIN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="esender_login">
										<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="CUSTOMER_LOGIN" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="customer_login">
										<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NO_DOC_EXT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="no_doc_ext">
										<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="ORIGINAL_OTHER_MEANS">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="string_200">
									<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:element ref="DATE_DISPATCH_ORIGINAL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROCUREMENT_UNSUCCESSFUL" type="empty"/>
	<xs:complexType name="no_award">
		<xs:choice>
			<xs:element ref="PROCUREMENT_DISCONTINUED"/>
			<xs:element ref="PROCUREMENT_UNSUCCESSFUL"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="NO_AWARDED_CONTRACT" type="no_award"/>
	<xs:element name="DATE_CONCLUSION_CONTRACT" type="date_full"/>
	<xs:group name="nb_tenders">
		<xs:sequence>
			<xs:element name="NB_TENDERS_RECEIVED" type="nb"/>
			<xs:element name="NB_TENDERS_RECEIVED_SME" type="_3car" minOccurs="0"/>
			<xs:element name="NB_TENDERS_RECEIVED_OTHER_EU" type="_3car" minOccurs="0"/>
			<xs:element name="NB_TENDERS_RECEIVED_NON_EU" type="_3car" minOccurs="0"/>
			<xs:element name="NB_TENDERS_RECEIVED_EMEANS" type="_3car" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="TENDERS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agree_to_publication">
					<xs:group ref="nb_tenders"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDRESS_CONTRACTOR" type="contact_contractor"/>
	<xs:element name="SME" type="empty"/>
	<xs:element name="NO_SME" type="empty"/>
	<xs:group name="contractor_sme_man">
		<xs:sequence>
			<xs:element name="CONTRACTOR">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ADDRESS_CONTRACTOR"/>
						<xs:choice>
							<xs:element ref="SME"/>
							<xs:element ref="NO_SME"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="contractor_sme_opt">
		<xs:sequence>
			<xs:element name="CONTRACTOR">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ADDRESS_CONTRACTOR"/>
						<xs:element ref="SME" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:element name="AWARDED_TO_GROUP" type="empty"/>
	<xs:element name="NO_AWARDED_TO_GROUP" type="empty"/>
	<xs:group name="contractor">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="AWARDED_TO_GROUP"/>
				<xs:group ref="contractor_sme_man" minOccurs="2" maxOccurs="100"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="NO_AWARDED_TO_GROUP"/>
				<xs:group ref="contractor_sme_man"/>
			</xs:sequence>
		</xs:choice>
	</xs:group>
	<xs:element name="CONTRACTORS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agree_to_publication">
					<xs:group ref="contractor"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:group name="award_contract_value">
		<xs:sequence>
			<xs:element ref="VAL_ESTIMATED_TOTAL" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="VAL_TOTAL"/>
				<xs:element ref="VAL_RANGE_TOTAL"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:element name="VALUE">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agree_to_publication">
					<xs:group ref="award_contract_value"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LIKELY_SUBCONTRACTED" type="empty"/>
	<xs:group name="subcontracting">
		<xs:sequence>
			<xs:element name="VAL_SUBCONTRACTING" type="val" minOccurs="0"/>
			<xs:element name="PCT_SUBCONTRACTING" type="prct" minOccurs="0"/>
			<xs:element name="INFO_ADD_SUBCONTRACTING" type="text_ft_multi_lines" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="val_concession">
		<xs:sequence>
			<xs:element name="VAL_REVENUE" type="val" minOccurs="0"/>
			<xs:element name="VAL_PRICE_PAYMENT" type="val" minOccurs="0"/>
			<xs:element name="INFO_ADD_VALUE" type="text_ft_multi_lines" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<!-- ####################################################################################
SECTION VI
#################################################################################### -->
	<xs:element name="RECURRENT_PROCUREMENT" type="empty"/>
	<xs:element name="ESTIMATED_TIMING" type="text_ft_multi_lines"/>
	<xs:element name="NO_RECURRENT_PROCUREMENT" type="empty"/>
	<xs:element name="EORDERING" type="empty"/>
	<xs:element name="EINVOICING" type="empty"/>
	<xs:element name="EPAYMENT" type="empty"/>
	<xs:element name="ADDRESS_REVIEW_BODY" type="contact_review"/>
	<xs:element name="ADDRESS_MEDIATION_BODY" type="contact_review"/>
	<xs:element name="REVIEW_PROCEDURE" type="text_ft_multi_lines"/>
	<xs:element name="ADDRESS_REVIEW_INFO" type="contact_review"/>
	<xs:element name="DATE_DISPATCH_NOTICE" type="date_full"/>
	<xs:element name="DATE_DISPATCH_ORIGINAL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="date_full">
					<xs:attribute name="PUBLICATION" use="required" fixed="NO"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="complement_info">
		<xs:annotation>
			<xs:documentation>Section VI: COMPLEMENTARY INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="RECURRENT_PROCUREMENT"/>
					<xs:element ref="ESTIMATED_TIMING" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="NO_RECURRENT_PROCUREMENT"/>
			</xs:choice>
			<xs:element ref="EORDERING" minOccurs="0"/>
			<xs:element ref="EINVOICING" minOccurs="0"/>
			<xs:element ref="EPAYMENT" minOccurs="0"/>
			<xs:element ref="INFO_ADD" minOccurs="0"/>
			<xs:element ref="ADDRESS_REVIEW_BODY" minOccurs="0"/>
			<xs:element ref="ADDRESS_MEDIATION_BODY" minOccurs="0"/>
			<xs:element ref="REVIEW_PROCEDURE" minOccurs="0"/>
			<xs:element ref="ADDRESS_REVIEW_INFO" minOccurs="0"/>
			<xs:element ref="DATE_DISPATCH_NOTICE"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
