v2.0.1/05-Implementation/epo-etl/src/main/resources/TED_publication_R2.0.9.S02.E01_003-20170123/F15_2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : F15_2014
#  RELEASE : "R2.0.9.S02.E01"
#  Intermediate release number 003-20170123
#  Last update : 16/12/2016
#  Form : Voluntary ex ante transparency notice
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n2016="ted/2016/nuts" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.9.S02.E01">
	<xs:include schemaLocation="common_2014.xsd"/>
	<xs:import namespace="ted/2016/nuts" schemaLocation="nuts_codes_2016.xsd"/>
	<xs:complexType name="ci_f15">
		<xs:annotation>
			<xs:documentation>Section VI: COMPLEMENTARY INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="complement_info">
				<xs:sequence>
					<xs:element ref="INFO_ADD" minOccurs="0"/>
					<xs:element ref="ADDRESS_REVIEW_BODY"/>
					<xs:element ref="ADDRESS_MEDIATION_BODY" minOccurs="0"/>
					<xs:element ref="REVIEW_PROCEDURE" minOccurs="0"/>
					<xs:element ref="ADDRESS_REVIEW_INFO" minOccurs="0"/>
					<xs:element ref="DATE_DISPATCH_NOTICE"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="award_contract_f15">
		<xs:annotation>
			<xs:documentation>Section V: AWARD OF CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="contract_number"/>
			<xs:element ref="TITLE" minOccurs="0"/>
			<xs:element name="AWARDED_CONTRACT">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DATE_CONCLUSION_CONTRACT"/>
						<xs:group ref="contractor"/>
						<xs:choice minOccurs="0">
							<xs:group ref="award_contract_value"/>
							<xs:element ref="VALUE"/>
						</xs:choice>
						<xs:sequence minOccurs="0">
							<xs:element ref="LIKELY_SUBCONTRACTED"/>
							<xs:group ref="subcontracting"/>
							<xs:element name="DIRECTIVE_2009_81_EC" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element name="AWARDED_SUBCONTRACTING" type="empty"/>
											<xs:element name="PCT_RANGE_SHARE_SUBCONTRACTING" type="prct_range" minOccurs="0"/>
										</xs:sequence>
										<xs:element name="PCT_RANGE_SHARE_SUBCONTRACTING" type="prct_range"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ITEM" type="nb_lot" use="required"/>
	</xs:complexType>
	<xs:complexType name="procedure_f15">
		<xs:annotation>
			<xs:documentation>Section IV: PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DIRECTIVE_2014_23_EU">
					<xs:complexType>
						<xs:choice>
							<xs:element name="PT_AWARD_CONTRACT_WITHOUT_PUBLICATION">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_d4_part1"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_part2"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2014_24_EU">
					<xs:complexType>
						<xs:choice>
							<xs:element name="PT_NEGOTIATED_WITHOUT_PUBLICATION">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_d1_part1"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_part2"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2014_25_EU">
					<xs:complexType>
						<xs:choice>
							<xs:element name="PT_NEGOTIATED_WITHOUT_PUBLICATION">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_d2_part1"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_part2"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2009_81_EC">
					<xs:complexType>
						<xs:choice>
							<xs:element name="PT_NEGOTIATED_WITHOUT_PUBLICATION">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_d3_part1"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PT_AWARD_CONTRACT_WITHOUT_CALL">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="annex_d3_part2"/>
										<xs:element ref="D_JUSTIFICATION"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="FRAMEWORK" type="empty" minOccurs="0"/>
			<xs:group ref="gpa"/>
			<xs:element ref="NOTICE_NUMBER_OJ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="object_f15">
		<xs:sequence>
			<xs:element ref="TITLE" minOccurs="0"/>
			<xs:element ref="LOT_NO" minOccurs="0"/>
			<xs:element ref="CPV_ADDITIONAL" minOccurs="0" maxOccurs="100"/>
			<xs:choice>
				<xs:element ref="n2016:NUTS" maxOccurs="20"/>
				<xs:element ref="NUTS" maxOccurs="20"/>
			</xs:choice>
			<xs:element ref="MAIN_SITE" minOccurs="0"/>
			<xs:element ref="SHORT_DESCR"/>
			<xs:choice minOccurs="0">
				<xs:element name="DIRECTIVE_2014_23_EU">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AC_CRITERION" maxOccurs="20"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2014_24_EU">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="award_criteria"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2014_25_EU">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="award_criteria"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECTIVE_2009_81_EC">
					<xs:complexType>
						<xs:choice>
							<xs:element name="AC_PRICE" type="empty"/>
							<xs:element name="AC_CRITERIA" type="ac_definition" maxOccurs="20"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:group ref="options"/>
			<xs:group ref="eu_union_funds"/>
			<xs:element ref="INFO_ADD" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ITEM" type="nb_lot" use="required"/>
	</xs:complexType>
	<xs:complexType name="object_contract_f15">
		<xs:annotation>
			<xs:documentation>Section II: OBJECT OF THE CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TITLE"/>
			<xs:element ref="REFERENCE_NUMBER" minOccurs="0"/>
			<xs:element ref="CPV_MAIN"/>
			<xs:element name="TYPE_CONTRACT" type="type_contract"/>
			<xs:element ref="SHORT_DESCR"/>
			<xs:choice minOccurs="0">
				<xs:element name="VAL_TOTAL">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="val">
								<xs:attribute name="PUBLICATION" type="publication"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="VAL_RANGE_TOTAL">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="val_range">
								<xs:attribute name="PUBLICATION" type="publication"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="LOT_DIVISION"/>
					<xs:element name="OBJECT_DESCR" type="object_f15" minOccurs="1" maxOccurs="1000"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="NO_LOT_DIVISION"/>
					<xs:element name="OBJECT_DESCR" type="object_f15"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="body_f15">
		<xs:annotation>
			<xs:documentation>Section I: CONTRACTING AUTHORITY/ENTITY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ADDRESS_CONTRACTING_BODY"/>
			<xs:choice>
				<xs:group ref="authority"/>
				<xs:group ref="entity"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="directive_f15">
		<xs:attribute name="VALUE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="2014/23/EU"/>
					<xs:enumeration value="2014/24/EU"/>
					<xs:enumeration value="2014/25/EU"/>
					<xs:enumeration value="2009/81/EC"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="F15_2014">
		<xs:annotation>
			<xs:documentation>ROOT element F15</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DIRECTIVE" type="directive_f15"/>
				<xs:element name="CONTRACTING_BODY" type="body_f15"/>
				<xs:element name="OBJECT_CONTRACT" type="object_contract_f15"/>
				<xs:element name="PROCEDURE" type="procedure_f15"/>
				<xs:element name="AWARD_CONTRACT" type="award_contract_f15" maxOccurs="1000"/>
				<xs:element name="COMPLEMENTARY_INFO" type="ci_f15"/>
			</xs:sequence>
			<xs:attribute name="LG" type="t_ce_language_list" use="required"/>
			<xs:attribute name="CATEGORY" type="category" use="required"/>
			<xs:attribute name="FORM" use="required" fixed="F15"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
